.b-t {
  background: transparent !important;
}

.spellTableBody::-webkit-scrollbar {
  display: none;
}
.spellTableBody {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.MuiMenu-paper {
  background-color: transparent !important;
  background-image: url(../img/fuck.svg) !important;
  background-size: cover;
  box-shadow: none !important;
  border: 0;
}

.MuiPopover-paper {
  background-color: transparent !important;
  background-image: url(../img/fuck.svg) !important;
  background-size: cover;
  box-shadow: none !important;
  border: 0;
}

.MuiChip-label {
  padding-top: 0;
  padding-inline-start: 0 !important;
}

th.tableStickyHead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: url(../img/fuck.svg) !important;
  background-position-y: -110px !important;
  background-size: 690px 768px !important;
}

.tableStickyHead h3 {
  color: #4d1205;
}

.header-body h1 {
  color: #4d1205;
}
.header-body Button {
  color: #4d1205;
}

.buttonDomain span:nth-child(1) {
  float: left;
  margin-left: 10px;
}

.buttonBanner {
  background-size: 100% 100%;
  background-color: transparent;
  font-size: 1rem;
  font-family: 'Patrick Hand SC, cursive';
  top: 1rem;
  filter: contrast(0.85);
}

.domainIcon {
  font-size: 2rem;
  max-height: 3rem;
  min-height: 3rem;
  padding-left: 1px;
  color: #31325d;
}

.classSymbol {
  height: 3rem;
  color: #31325d;
}

.primaryText {
  color: #4d1205;
}
/* th.tableStickyHead2 {
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: url(../img/fuck.svg) !important;
  background-position-y: -110px !important;
  background-size: 690px 768px !important;
} */

.yourClass {
  cursor: 'pointer';
}

.yourClass > .castButton {
  pointer-events: none;
}
.yourClass td {
  flex-direction: 'column';
  justify-content: 'start';
}

.level {
  margin-bottom: 0px !important;
  line-height: 1;
}
.ralewayFont {
  font-family: 'Raleway', sans-serif !important;
}

.list-group .btn-secondary:hover {
  border-color: rgb(212, 212, 212) !important;
  background-color: rgb(212, 212, 212) !important;
  color: #212529 !important;
  transform: none !important;
}
.list-group .btn-secondary:focus {
  border-color: rgb(182, 182, 182) !important;
  background-color: rgb(182, 182, 182) !important;
  color: #212529 !important;
}
.list-group .btn-secondary:active {
  border-color: rgb(182, 182, 182) !important;
  background-color: rgb(182, 182, 182) !important;
}
